{% extends 'partials/_base.twig' %}


{% block main %}
    <div class="article-content">
        <h1 class="article-title">{{ article.title }}
            <span class="banner-date">{{ article.date|date("d-m-Y") }}</span></h1>
        {{ article.body|headerids|markdown }}
    </div>

{% endblock main %}
