{% extends 'partials/_master.twig' %}

{% block main %}
   <div class="article-content">
        <h1>404 - Page Not Found</h1>
        <figure style="text-align: center;">
        <img src="/rcc/caving/photo_archive/mugshots/James%20Perry.jpg" style="max-width:100%;max-height:calc(300px)">
        <figcaption><p>"I don't like caving anyway"</p></figcaption>
        </figure>
    </div>
{% endblock main %}
