{% extends 'partials/_master.twig' %}

{% block main %}
{% setcontent wikis = 'wikis' orderby 'path' %}

<div class="article-content">
    <nav class="wiki-nav">
        <div style="display: none">
        {% for wiki in wikis %}
          {% if not wiki.private or user is not empty %}
            <div>
              {% set path = '' %}
              {% if wiki.path is not empty %}
                {% for pathbit in wiki.path|split('/') %}
                  {% set path = path ~ '/' ~ pathbit %}
                  {{ pathbit }} / 
                {% endfor %}
              {% endif %}
              <a href="{{ wiki.link}}">{{ wiki.title }}</a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </nav>
    <script>
        const paths = []
        document.querySelectorAll('.article-content nav > div > div').forEach(div => {
            const path = div.innerText.split('/').map(t => t.trim()).join('/');
            if (path) paths.push({path: path, href: div.querySelector('a').href}) 
        })
        var hierarchy = paths.reduce(function(hier,path){
            var x = hier;
            path.path.split('/').forEach(function(item){
                if(!x[item]){
                    x[item] = {path: path.path.split('/').slice(0,-1).pop() || path.path};
                }
                x = x[item];
            });
            x.file = path.path.split('/').slice(-1).pop();
            x.href = path.href
            return hier;
        }, {});
        console.log(hierarchy)
        var print = paths => {
            return paths.reduce((acc,curr) => {
                if (typeof(curr) !== 'string') {
                    const paths = print(Object.values(curr));
                    const filename = curr.file ? `<li><a href="${curr.href}">${curr.file}</a></li>` : `<li>${curr.path}</li>`;
                    return `${filename}${paths ? `<ul>${paths}</ul>` : ''}` + acc
                }
                return acc
            }, '')
        }
        html = `<ul>${print(Object.values(hierarchy))}</ul>`
        document.querySelector('nav.wiki-nav').innerHTML = html;
    </script>
</div>

{% endblock %}
