<div class="sidebar">
    <div class="logo">
        <div class="logo-text">Imperial College</div>
        <a href="{{ siteurl }}/"><img alt="Imperial College Caving Club logo" src="https://union.ic.ac.uk/rcc/caving/assets//iclogowhite.svg"></a>
        <div class="logo-text">Caving Club</div>
        {% if user is not empty %}
        <div class="welcome">
            Signed in as {{ user.displayname }}.
        </div>
        {% endif %}
    </div>
    {{ widgets('sidebar') }}
</div>
